<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Drink This!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<select th:fragment="quantselect">
    <option value="dash(es)">dash(es)</option>
    <option value="1/4">1/4</option>
    <option value="1/2">1/2</option>
    <option value="3/4">3/4</option>
    <option value="1">1</option>
    <option value="1 1/4">1 1/4</option>
    <option value="1 1/2">1 1/2</option>
    <option value="1 3/4">1 3/4</option>
    <option value="2">2</option>
    <option value="3">3</option>

</select>


<nav th:fragment="navigation">
        <a href="/cocktail/">Cocktails</a> |
        <a href="/ingredient">Ingredients</a> |
        <a href="/cocktail/add">Add Cocktail</a> |
        <a href="/ingredient/add">Add Ingredient</a>
</nav>

</body>
</html>