<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}">Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<p th:text="${nope}"></p>

<form method="post" style="max-width:800px;">
    <!-- name -->
    <div class="form-group">
        <label th:for="name">Cocktail Name:</label>
    <input type="text" name="cocktailName" placeholder="something snappy" />
    </div>

    <!-- recipe -->
    <div class="form-group">
        <label th:for="recip1">1st Ingredient:</label>
        <select name="recip1string">
            <option value="">none</option>
            <option th:each="ingredient : ${ingredients}" th:text="${ingredient.name}"></option>
        </select>

    <select name="recip1quant">
        <option value="">none</option>
        <option th:each="quantity : ${quantities}" th:text="${quantity}"></option>
    </select>
    </div>
    <div class="form-group">
        <label th:for="recip2">2nd Ingredient:</label>
        <select name="recip2string">
            <option value="">none</option>
            <option th:each="ingredient : ${ingredients}" th:text="${ingredient.name}"></option>
        </select>

        <select name="recip2quant">
            <option value="">none</option>
            <option th:each="quantity : ${quantities}" th:text="${quantity}"></option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="recip3">3rd Ingredient:</label>
        <select name="recip3string">
            <option value="">none</option>
            <option th:each="ingredient : ${ingredients}" th:text="${ingredient.name}"></option>
        </select>

        <select name="recip3quant">
            <option value="">none</option>
            <option th:each="quantity : ${quantities}" th:text="${quantity}"></option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="recip4">4th Ingredient:</label>
        <select name="recip4string">
            <option value="">none</option>
            <option th:each="ingredient : ${ingredients}" th:text="${ingredient.name}"></option>
        </select>

        <select name="recip4quant">
            <option value="">none</option>
            <option th:each="quantity : ${quantities}" th:text="${quantity}"></option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="recip5">5th Ingredient:</label>
        <select name="recip5string">
            <option value="">none</option>
            <option th:each="ingredient : ${ingredients}" th:text="${ingredient.name}"></option>
        </select>

        <select name="recip5quant">
            <option value="">none</option>
            <option th:each="quantity : ${quantities}" th:text="${quantity}"></option>
        </select>
    </div>

    <!-- prep -->
    <div class="form-group">
        <label th:for="cocktailPrep">Prep:</label>
        <textarea name="cocktailPrep" cols="50" placeholder="Shake/Stir/Swizzle"/>
    </div>

    <!-- garnish -->
    <div class="form-group">
        <label th:for="cocktailGarnish">Garnish:</label>
        <input type="text" name="cocktailGarnish" placeholder="make it pretty"/>
    </div>

    <!-- image -->
    <div class="form-group">
        <label th:for="cocktailImage">Image Url:</label>
        <input type="text" name="cocktailImage" placeholder="optional" />
    </div>

    <input type="submit" value="add" />
</form>

</body>
</html>