<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${cocktails} and ${cocktails.size()}">Your List is empty.</p>
<br />

<table class="table" id="toSort">
    <tr>
        <th onclick="simpleFunc(0)">Name</th>
        <th onclick="simpleFunc(1)">Method</th>
        <th onclick="simpleFunc(2)">Garnish</th>
    </tr>

    <tr th:each="cocktail : ${cocktails}">
        <td><a th:href="@{/cocktail/show/{id}(id=${cocktail.id})}"><p th:text="${cocktail.name}"></p></a></td>
        <td th:text="${cocktail.prep}"></td>
        <td th:text="${cocktail.garnish}"></td>
    </tr>

</table>

<script>
    function simpleFunc(n){
    if(n == 0){
    alert("The Name of the Cocktail");
    }else if(n == 1){
    alert("The Name of the Method of Preparation");
    }else if(n == 2){
    alert("The Name of the Garnish");
    }
    }

</script>


</body>
</html>