<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${cocktails} and ${cocktails.size()}">Your List is empty.</p>
<br />

<table class="table" id="toSort">
    <tr>
        <th>Name</th>
        <th>Method</th>
        <th>Garnish</th>
        <th>Photo</th>
    </tr>

    <tr th:each="cocktail : ${cocktails}">
        <td><a th:href="@{/cocktail/show/{id}(id=${cocktail.id})}"><p th:text="${cocktail.name}"></p></a></td>
        <td th:text="${cocktail.prep}"></td>
        <td th:text="${cocktail.garnish}"></td>
        <td><button th:text="show" onclick="changePic()"></button><img src="" id="testPic" /></td>
    </tr>

</table>



<script>
    function changePic(x){
    document.getElementById("testPic").src = "https://tedxcoconutgrove.org/img/logos/eureka.png";

    }
</script>

</body>
</html>