<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${cocktails} and ${cocktails.size()}">Your List is empty.</p>
<br />

<table class="table">
    <tr>
        <th>Name</th>
        <th>Method</th>
        <th>Garnish</th>
    </tr>

    <tr th:each="cocktail : ${cocktails}">
        <!--<td><a th:href="@{/show/{id}(id=${cocktail.id})}"><p th:text="${cocktail.name}"></p></a></td> -->
        <td><a href="/cocktail/show"><p th:text="${cocktail.name}"></p></a></td>
        <td th:text="${cocktail.prep}"></td>
        <td th:text="${cocktail.garnish}"></td>
    </tr>

</table>


</body>
</html>